params {
    // Sample information
    samplesheet = "$projectDir/atac_samples.csv"
    
    // Reference genome - local paths
    genome_fasta = "$projectDir/reference/genome.fa"
    genome_index = "$projectDir/reference/bowtie2_index/GRCm39"
    genome_gtf = "$projectDir/reference/genes.gtf"
    chrom_sizes = "$projectDir/reference/genome.chrom.sizes"
    blacklist = "$projectDir/reference/mm39-blacklist.v2.bed"
    
    // Output directory
    outdir = "$projectDir/results/"
    
    // Analysis parameters
    macs2_gsize = "mm"
    qvalue_cutoff = 0.01
}

profiles {
    conda {
        conda.enabled = true
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    
    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-P bf528'
            penv = 'omp'

            withLabel: process_single {
                cpus = 1
            }
            withLabel: process_low {
                cpus = 4
            }
            withLabel: process_medium {
                cpus = 8
            }
            withLabel: process_high {
                cpus = 16
            }
        }
    }
    
    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true